*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f4f6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
div{
    width: 50%;
    height: 420px;
    margin: 10% auto;
    background-color: #cedace;
    border-radius: 30px;
    text-align: center;
}
input{
    width: 55%;
    height: 35px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    padding-left: 10px;
}
textarea{
    border: none;
    width: 55%;
    border-radius: 35px;
    padding: 10px;
}
input:focus{
    /* border: 1px solid #cedace; */
    background-color: #cedace;
}
input[type="submit"]{
    cursor: pointer;
    background-color: #f3f4f6;
}